#login {
	background-color: #16161d !important;
}

details[open] {
	padding-bottom: 1px;
	margin-bottom: 10px;
    background-color: #333;
	border-radius: 8px;
    padding: 5px 8px 1px;
}

details[open] > p {
    background-color: #333 !important;
}

details[open] blockquote {
	background: #222;
	background-image: linear-gradient(to bottom right, #494949, #222222) !important;
	margin-right: 20px;
}

body :target {
    background-color: #16161d !important;
}


body, .site-header, .entry-content, .entry-content p {
	background-color: #16161d !important;
	color: #ccc !important;
}



.site-header {
	background-color: #202020 !important;
}

.site-title a, .site-title a:visited, .site-title a:hover {
	color: #ddd;
}

.entry-content H2, .entry-content H3 {
	color: #ddd !important;
}

blockquote {
	background-color: #222 !important;
	background-image: linear-gradient(to bottom right, #494949, #222222) !important;
	border-left: 2px solid #FFB029 !important;
	color: #ddd !important;
}

blockquote p, blockquote p em, .entry-content blockquote p {
	background-color: transparent !important;
	color: #ddd !important;
	display: block;
}

code {
	color: #333;
}

pre, pre code {
	background: #222;
	color: #eee;
}

.footnote-button {
  background-color: #fff !important;
  opacity: 0.4;
}

.footnote-circle {
  background-color: #444 !important;
}

.footnote-content-wrapper p {
  color: #444 !important;
  background-color: #fafafa;
}

a, a:visited, .entry-title, .entry-title a, .entry-title a:visited {
	color: #bbb !important;
}

.PostedOn a, .entry-content a, a.comment-perma, a.directory-link, .today-icon,
.comment-author, .comment-author a, .comment-author a:visited,
.fn a, .fn .p-name, a.allposts, .comment-body a {
	color: #FFB029 !important;
}

a.otdtoggle {
	color: #FFB029 !important;
}

.commenticon, .PostedOnComment {
	content: url('https://colinwalker.blog/commentdark.png') !important;
}

.says {
	color: #bbb !important;
}

.firsttitle, .firstnotitle, .updatedSpan {
	color: #bbb !important;
}

.site-footer a, .site-footer a:visited {
	color: #bbb !important;
}

.siteID {
	background-color: #202020;
	color: #eee;
}

.siteID a {
	color: #bbb !important;
}

input[type="search"], input[type="submit"]:active {
	color: #333;
}

a.fragmention_link {
	font-weight: normal;
	color: #ccc !important;
	text-decoration: underline;
	text-decoration-color: #FFB029 !important;
	text-decoration-style: dotted;
}

blockquote a.fragmention_link {
	color: #ddd !important;
	font-weight: 300;
}


body [fragmention] {
	background-color: #3C3C3C !important;
	border-radius: 8px;
	padding: 5px 8px;
}

body [fragmention] em {
	background-color: transparent !important;
}